.container {
  text-align: center;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.left{
  flex: 0 0 25%; 
  background-color: rgba(95, 84, 145, .9); /* Optional background color */
  padding: 20px 0 20px 0;
  min-height: 100vh;
  text-align: center;
}
@media screen and (max-width: 1350px) {
  .container{
      font-size: 12px;
  }
}