@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* 1. Global Reset for Consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* 2. Establish Overall Layout Structure */
body {
  width: 100%;
}

.container{
  position: relative;
  display: flex;
}

/* 3. Style the Navbar */
.left {
  width: 25%;
  background-color: rgba(95, 84, 145, .96); /* Optional background color */
  padding: 20px 0 20px 0;
  min-height: 100vh;
  text-align: center;
}

/* 4. Style the Main Content */
main {
  flex: 1 auto; /* Take up remaining space */
  padding: 20px;
}

.slick-slider {
  width: 100%;
  margin: 0 auto;
}

.slick-list {
  display: flex;
  overflow: hidden;
}

.slick-slide {
  padding: 0 10px;
}

.slick-dots {
  text-align: center;
  margin-top: 10px;
}

.slick-dots li {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ccc;
}

.slick-dots li.slick-active {
  background-color: #000;
}


/* 5. Optional: Responsive Handling */
@media (max-width: 768px) {
  /* Stack the Navbar and Content vertically on smaller screens */
  body {
    flex-direction: column;
  }

  nav {
    width: 100%; /* Full width on smaller screens */
  }
}


